//#see _variable.sass https://www.colordic.org/
// $bg: #fabc00
//$bg: #c83737
//$bg: #fa8072 // salmon
$bg: #dc143c // crimson
$bg: #b3424a // my original
$bg: #ffb6c1 // lightpink
$bg: #db7093 // pale violet red
//$bg: #2e8b57 //sea green
//$bg: #4169e1 //royal brue
//$bg: #0e47e6
//$theme: #ff0000
//$theme: #c83737
//$theme: #b3424a
$theme: $bg